<div class="chat__header">
    <img src="{{avatar}}" alt="avatar" class="chat__avatar">
    <div class="chat__name">{{name}}</div>
    <img src="{{close}}" alt="close" class="chat__close">
</div>
<div class="chat__messages-list">
    <time class="chat__date">{{date}}</time>
    {{#each messages}}
        {{{this}}}
    {{/each}}
</div>
<div class="chat__send-msg">
    {{{chatInput}}}
    <img src="{{sendIcon}}" alt="icon" class="chat__send-msg__icon">
</div>
