<div class="chatPreview">
    <div class="chatPreview__icon">
        <img src="{{iconSrc}}" alt="icon">
    </div>
    <div class="chatPreview__text">
        <h5 class="chatPreview__title">{{title}}</h5>
        <div class="chatPreview__lastMsg">{{lastMsg}}</div>
    </div>
    <div class="chatPreview__data">
        <h5 class="chatPreview__time">{{time}}</h5>
        <div class="chatPreview__unreadMsg">
            <div class="chatPreview__unreadMsg__number">{{number}}</div>
        </div>
    </div>
</div>