<div class="chat-preview__icon">
    <img src="{{iconSrc}}" alt="icon">
</div>
<div class="chat-preview__text">
    <h5 class="chat-preview__title">{{title}}</h5>
    <div class="chat-preview__lastMsg">{{lastMsg}}</div>
</div>
<div class="chat-preview__data">
    <time class="chat-preview__time">{{time}}</time>
    <div class="chat-preview__unreadMsg">
        <div class="chat-preview__unreadMsg__number">{{number}}</div>
    </div>
</div>
