<div class="chats__wrapper">
    <img src="{{iconSrc}}" id="avatarIcon" alt="avatar" class="chats__avatar">
    <img src="{{logoutIcon}}" id="logoutIcon" alt="logout" class="chats__logout">
    {{{input}}}
    {{#each chats}}
    {{{this}}}
    {{/each}}
</div>
<div class="chats__chat">
    {{{chat}}}
</div>

